
@import "./variables/variables.css";

@import "./themes/dark.css";
@import "./themes/green.css";
@import "tailwindcss";


@layer base {
  html {
    height: 100%; 
    background-color: var(--color-background);
 
  }

  body {
    height: 100%; /* Используем height вместо min-height */
    margin: 0; /* Убираем дефолтные отступы */
    padding: 0; 
    background-color: var(--color-background);
  
  }

  #root {
    min-height: 100vh; /* Используем viewport height */
  }
}
