@import "tailwindcss";
@import "./variables/variables.css";
@import "./themes/light.css";
@import "./themes/dark.css";
@import "./themes/green.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html,
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    min-height: 100%;
  }

  #root {
    min-height: 100%;
  }
}
